<% include index_header.html %>

<div class="jumbotron">
  <h1>Manage a league of your friends!</h1>
  <p class="lead">Challange your friends - find out who's the best at running, swimming, chess, darts, bowling, cycling, snooker, yatzee, or whatever - and manage it all with this easy tool.</p>
  <a class="btn btn-large btn-success" href="create">Create a league</a>
  &nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="btn btn-large btn-info" href="#">Sign in here</a>
</div>

<% include index_footer.html %>
