<% include index_header.html %>
<div style="margin-bottom:20px;">
  <h2><%= title %></h2>
  <div class="alert alert-success">
    <strong><i class="icon-globe"></i> Public URL:</strong>
    <a href="/public/<%= league._id %>">http://friendshipleague.com/public/<%= league._id %></a>
  </div>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <span class="brand">Calendar</span>
    <button onclick="document.location = 'add-event';" class="btn btn-success pull-right"><i class="icon-plus-sign icon-white"></i> Add event</button>
  </div>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <span class="brand">Participants</span>
    <button onclick="document.location = 'add-friend';" class="btn btn-success pull-right"><i class="icon-plus-sign icon-white"></i> Add friend</button>
  </div>
</div>

<% include index_footer.html %>
